*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: url(img/inmobiliaria.jpg) no-repeat center center / cover;    

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container{
    width: 400px;  
    height: 180px;  
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 1rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.modal-container > h1{
    font-size: 2rem;
}
.open-btn{
    background: rgb(52, 126, 196);
    font-size: 1.2rem;
    padding: 0 0.8rem;
    border-radius: 0.5rem;
    border: solid 2px rgb(52, 126, 196);
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.open-btn:hover{
    background: rgba(255, 255, 255, 0.253);
}
.modal{
    width: 400px;  
    height: 180px;  
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 1rem;
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.close-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0 0.4rem;
    cursor: pointer;
    transition: 0.5s;
}
.close-btn:hover{
    color: rgba(255, 0, 0, 0.349);
    transform: scale(1.5);
    font-weight: bold;    
}

@media (max-width: 800px){
    .modal-container, modal{
        width: 300px;
        height: 135px;
    }
    .open-btn{
        font-size: 1rem;
    }
    .modal-container > h1 {
        font-size: 1.9rem;
    }
}
/* @media (max-width: 450px){
    .modal-container, .modal{
        width: 235px;
        height: 101.25px;
        border-radius: 0.5rem;
        text-align: center;
    }
    .open-btn{
        font-size: 1rem;
        border-radius: 0.2rem;
    }
    .modal-container > h1 {
        font-size: 1.9rem;
    }
    
} */
